.navigation{
    list-style-type: none;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 5rem;
    left: -.5rem;
    width: 15rem;
}

@media (max-width: 700px) {
    .navigation{
        display: none;
    }
}

.navigation li{
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.navigationItem{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: #1B1212;
}

.navigationItem:hover{
    background: #e2e0e0;
    padding: 2px;
    border-radius: 12px;
}

.icons{
    font-size: 3em;
    margin-right: 15px;
}