.info-pane{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 15px;
}

.profile-pic{
    display: flex;
    flex-direction: row;
    margin-right: .5rem;
}

.profile-pic:hover{
    background: whitesmoke;
    border-radius: 12px;
    height: 90%;
    cursor: pointer;
}

.profile-pic img{
    height: 1.8rem;
    border-radius: 50%;
    margin-top: -.2rem;
    margin-right: .5rem;
}

.icons{
    background: #e5e4e2;
    border-radius: 50%;
    padding: .5rem;
    margin: .2rem;
    cursor: pointer;
}

