.sidebar{
    list-style-type: none;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    position: fixed;
    top: 5rem;
    bottom: 0;
    right: -.1rem;
    width: 15rem;
}

@media (max-width: 1200px) {
    .sidebar{
        display: none;
    }
}

.division{
    border-bottom: 1px solid grey;
}

.sidebar li{
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.sidebarItem{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    list-style-type: none;
}

.sidebarItem:hover{
    background: #e2e0e0;
    padding: 2px;
    border-radius: 12px;
}

.icons{
    font-size: 3em;
    margin-right: 15px;
}